.results {
  display: flex;
  flex-direction: column;
  height: inherit;
  box-sizing: border-box;
  padding-bottom: 44px;
}

.results__title {
  margin-bottom: 6px;
}

.results__name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: auto;
  flex-grow: 1;
}