.redirect-back {
  display: inline-flex;
}

.redirect-back__image {
  margin-right: 18px;
}

.redirect-back__text {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

}